.EventWindow{
  margin-left: 170px;
  margin-top: 100px;
  width: 1500px;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  border-radius: 10px;
  .Data{
    padding: 40px;

    .Cluster_action{
      display: flex;
      justify-content: space-between;

      .Cluster_buttons{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .action_button{
          font-size: 20px;
          padding: 10px;
          margin-right: 60px;
        }
      }
    }

    .Cluster_string{
      display: flex;
      padding: 10px;
      gap: 10px;
      .title_string{
        font-size: 25px;
      }
      .number{
        font-size: 25px;
        font-weight: 700;
      }
      .coin_img{
        height: 30px;
      }
    }
  }

}