.ProductList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 1024px;
  margin: 0 auto;

  .title {
    width: 100%;
  }

  @media (max-width: 1200px) {
    justify-content: center;
    width: 100%;
  }
}
.btn {
  position: absolute;
  left: 50%;
}