.PostsAside {

  .content {
    display: flex;
    flex-direction: column;
    //background: #000;
  }

  .selectorsBlock {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: var(--border-size-4);
  }

  .searchByDate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .CalendarInput{
      margin: 5px;
    }

    .title {
      width: 100%;
    }

    .textBlock {
      text-align: end;
    }

    .calendar, .text {
      margin-bottom: 10px;
    }

    .calendar {
      min-width: unset;
      max-width: 200px;
    }
  }
  .searchByTag {
  }
  .Input {
    margin-left: 10px;
  }

  .buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .tag{
    margin: 5px;
    border-radius: 10px;
  }
  .btn {
    margin: 10px;
  }
}

