.PostsAside {
  .content {
    display: flex;
    flex-direction: column;
    //background: #000;
  }

  .selectorsBlock {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: var(--border-size-4);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  }

  .searchByDate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .searchByDateBlock {
      display: flex;
      align-items: center;
    }

    .CalendarInput{
      margin: 5px;
      max-width: 200px;
    }

    .title {
      width: 100%;
    }

    .textBlock {
      text-align: end;
      .text {
        margin: 6px 0;
        p {font-weight: bold;}
      }
    }

    .calendar, .text {
      margin-bottom: 10px;
    }

    .calendar {
      min-width: unset;
      max-width: 200px;
    }
  }
  .searchByTag {
  }
  .Input {
    margin-left: 10px;
  }

  .buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .tag{
    margin: 5px;
    border-radius: 10px;
    label{
      font-size: 12px;
    }
  }
  .btn {
    margin: 10px;
  }
}

