:root {

  /**
   *Переменные для шрифтов (s, m, l, xl)
   */

  --font-famaly-main: Consolas, 'Roboto', Serif;

  --font-size-s: 12px;
  --font-line-s: 16px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-famaly-main);

  --font-weight-m: 500;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-weight-m) var(--font-size-m) / var(--font-line-m) var(--font-famaly-main);

  --font-weight-l: 600;
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-weight-m) var(--font-size-l) / var(--font-line-l) var(--font-famaly-main);

  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-famaly-main);

  /**
  *
  * Размеры
  */
  --navbar-height: 64px;
  // скругление форм
  --form-border-radius: 10px;
  --button-border-radius: 5px;
  --input-min-width: 20px;
  --input-min-height: 30px;

  /**
  * глобальные цвета
  */
  --collapsible-header-color: #807B7BFF;
  --profile-bg-color: white;
  --overlay-bg-color: rgba(0,0,0, 0.5);
  --link-hover-color: #00e0ff;
  --red: #c40f0f;

  /**
  * Z-индексы
  */
  --modal-z-index: 10;
}