.Comment {
  margin-bottom: 15px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);

  .avatar{
    width:200px;
  }
  .imgContainer {
  }

  .UserData {
    margin-left: 15px;
  }

  .CommentData{
    align-self: flex-start;
    margin-left: 280px;
  }
}