.Text {

  .title {
    margin: 10px 0;
    font: var(--font-l);
    font-family: Arial, serif;
  }
  .text {
    font: var(--font-m);
    font-family: Arial, serif;
  }

}

.primary {
  .title, .text {
    color: var(--primary-color);
  }
}

.inverted {
  .title, .text {
    color: var(--primary-color-inverted);
  }
}

.error {
  .title, .text {
    color: var(--red);
  }
}