.Map {
  position: relative;
}
.Point {
  position: absolute;
  cursor: pointer;
  :hover{
    border: 1px solid #000000;
    transform: translate(-1px, -1px);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
}



// 2 этаж 1 крыло
.L201 {top: 74px; left:  1045px;}
.L202 {top: 72px; left:  973px;}
.L203 {top: 72px; left:  900px;}
.L204 {top: 90px; left:  873px;}
.L205 {top: 72px; left:  763px;}
.L206 {top: 72px; left:  691px;}
.L207 {top: 72px; left:  619px;}
.L208 {top: 72px; left:  493px;}
.L209 {top: 72px; left:  421px;}
.L210 {top: 72px; left:  349px;}
.L211 {top: 72px; left:  310px;}
.L212 {top: 72px; left:  222px;}
.L213 {top: 72px; left:  150px;}
.L214 {top: 88px; left:  123px;}
.L215 {top: 142px; left:  105px;}
.L216 {top: 142px; left:  177px;}
.L217 {top: 142px; left:  249px;}
.L218 {top: 142px; left:  378px;}
.L219 {top: 142px; left:  450px;}
.L220 {top: 142px; left:  522px;}
.L221 {top: 142px; left:  597px;}
.L222 {top: 142px; left:  669px;}
.L223 {top: 142px; left:  780px;}
.L224 {top: 142px; left:  856px;}
.L225 {top: 159px; left:  954px;}
.L226 {top: 294px; left:  1037px;}
.L227 {top: 294px; left:  965px;}
.L228 {top: 294px; left:  863px;}
.L229 {top: 294px; left:  791px;}
.L230 {top: 294px; left:  717px;}
.L231 {top: 294px; left:  645px;}
.L232 {top: 294px; left:  562px;}
.L233 {top: 294px; left:  490px;}
.L234 {top: 294px; left:  414px;}
.L235 {top: 294px; left:  342px;}
.L236 {top: 294px; left:  248px;}
.L237 {top: 294px; left:  176px;}
.L238 {top: 294px; left:  104px;}
.L239 {top: 355px; left:  71px;}
.L240 {top: 355px; left:  143px;}
.L241 {top: 355px; left:  215px;}
.L242 {top: 341px; left:  281px;}
.L243 {top: 355px; left:  346px;}
.L244 {top: 355px; left:  416px;}
.L245 {top: 355px; left:  490px;}
.L246 {top: 355px; left:  575px;}
.L247 {top: 355px; left:  647px;}
.L248 {top: 355px; left:  719px;}
.L249 {top: 371px; left:  804px;}
.L250 {top: 354px; left:  894px;}
.L251 {top: 354px; left:  966px;}
.L252 {top: 354px; left:  1038px;}

// 2 этаж 2 крыло

.R201 {top:69px; left:415px;}
.R202 {top:69px; left:487px;}
.R203 {top:69px; left:559px;}
.R204 {top:79px; left:631px;}
.R205 {top:69px; left:703px;}
.R206 {top:69px; left:775px;}
.R207 {top:69px; left:847px;}
.R208 {top:68px; left:990px;}
.R209 {top:68px; left:1062px;}
.R210 {top:68px; left:1134px;}
.R211 {top:78px; left:1206px;}
.R212 {top:119px; left:1210px;}
.R213 {top:119px; left:1138px;}
.R214 {top:119px; left:1045px;}
.R215 {top:119px; left:973px;}
.R216 {top:137px; left:882px;}
.R217 {top:119px; left:815px;}
.R218 {top:119px; left:743px;}
.R219 {top:119px; left:640px;}
.R220 {top:119px; left:568px;}
.R221 {top:119px; left:496px;}
.R222 {top:119px; left:424px;}
.R223 {top:119px; left:352px;}
.R224 {top:119px; left:280px;}
.R225 {top:270px; left:170px;}
.R226 {top:270px; left:242px;}
.R227 {top:270px; left:314px;}
.R228 {top:270px; left:432px;}
.R229 {top:270px; left:504px;}
.R230 {top:270px; left:600px;}
.R231 {top:270px; left:672px;}
.R232 {top:270px; left:744px;}
.R233 {top:270px; left:830px;}
.R234 {top:270px; left:902px;}
.R235 {top:270px; left:974px;}
.R236 {top:270px; left:1046px;}
.R237 {top:270px; left:1136px;}
.R238 {top:270px; left:1208px;}
.R239 {top:332px; left:1207px;}
.R240 {top:345px; left:1135px;}
.R241 {top:345px; left:1063px;}
.R242 {top:345px; left:991px;}
.R243 {top:345px; left:896px;}
.R244 {top:345px; left:824px;}
.R245 {top:345px; left:752px;}
.R246 {top:332px; left:680px;}
.R247 {top:345px; left:608px;}
.R248 {top:306px; left:508px;}
.R249 {top:345px; left:508px;}
.R250 {top:345px; left:436px;}
.R251 {top:329px; left:364px;}
.R252 {top:340px; left:292px;}
.R253 {top:340px; left:220px;}
.R254 {top:331px; left:149px;}

// 1 этаж

.L101 {top:79px; left:730px;}
.L102 {top:79px; left:658px;}
.L103 {top:79px; left:586px;}
.L104 {top:79px; left:484px;}
.L105 {top:79px; left:412px;}
.L106 {top:79px; left:340px;}
.L107 {top:79px; left:268px;}
.L108 {top:79px; left:162px;}
.L109 {top:79px; left:90px;}
.L110 {top:154px; left:90px;}
.L111 {top:154px; left:162px;}
.L112 {top:154px; left:268px;}
.L113 {top:154px; left:340px;}
.L114 {top:154px; left:410px;}
.L115 {top:154px; left:470px;}
.L116 {top:154px; left:530px;}
.L117 {top:154px; left:600px;}
.L118 {top:126px; left:702px;}
.L119 {top:306px; left:730px;}
.L120 {top:306px; left:658px;}
.L121 {top:306px; left:556px;}
.L122 {top:306px; left:484px;}
.L123 {top:306px; left:412px;}
.L124 {top:306px; left:340px;}
.L125 {top:306px; left:233px;}
.L126 {top:306px; left:161px;}
.L127 {top:306px; left:89px;}
.L128 {top:362px; left:47px;}
.L129 {top:362px; left:119px;}
.L130 {top:362px; left:191px;}
.L131 {top:349px; left:254px;}
.L132 {top:362px; left:319px;}
.L133 {top:362px; left:383px;}
.L134 {top:362px; left:486px;}
.L135 {top:362px; left:595px;}
.L136 {top:362px; left:667px;}