.Sidebar {
  position: relative;
  width: 280px;
  background-color: var(--navbar-bg-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  transition: width .3s ease;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.collapsed {
  width: 60px;
  box-shadow: none;
}

.menuButton {
  margin-bottom: 50px;
  font-weight: bold;
}

.linksList {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.logo {
  width: 60px;
}
