.Input {
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
  min-width: var(--input-min-width);
  min-height: var(--input-min-height);
  //padding-top: 20px;
  //padding: auto;

  &.default {
    border-bottom: 2px solid #1B0F33;
  }

  &.bordered {
    border: 2px solid #1B0F33;
    border-radius: 4px;
  }

  &:hover {
    border-color: var(--link-hover-color);
  }

  &.focused {
    border-color: var(--link-hover-color);
  }

  input {
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;
    width: 100%;
    margin: auto;
    padding-left: 5px;
    overflow: hidden;

    &::placeholder{
      //text-align: center;
      padding-left: 15px;
    }
  }

  &:has(.Adornment){
    input::placeholder {
      //padding-right: 35px;
      padding-left: 15px;
    }
  }
}
.Adornment {
  max-width: 35px;
  padding: 0 5px;
  svg {
    width: 100%;
    height: auto;
  }
}
