.ProfilePage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* цвет и прозрачность затемнения */
  z-index: 9999; /* выше всех остальных элементов */
  display: flex;
  justify-content: center;
  align-items: center;

}

.center-block {
  background-color: var(--bg-color); /* цвет заднего фона блока */
  padding: 20px;
  /* другие стили блока */
}

label {

}
input {
  border-radius: 5px;
  border: 2px solid black;
}