.PostListItem {
  @media (min-width: 1024px) {
  //  1024 window size
  //  --postlist-card-width: 100px;
  //  min-width: 500px;
    max-width: 720px;
    margin: 40px;
  }
  @media (min-width: 1440px) {
  //  1440 window size
  //  --postlist-card-width: 720px;
    width: 720px;
  }

  --postlist-card-min-height: 360px;
  //width: var(--postlist-card-width);
  min-height: var(--postlist-card-min-height);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  cursor: pointer;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  position: relative;

  /** Hover **/
  //margin: 1px;
  //&:hover {
  //  margin: 0;
  //  border: solid var(--navbar-bg-color) 1px;
  //  width: calc(var(--postlist-card-width) + 2px);
  //  min-height: calc(var(--postlist-card-min-height) + 2px);
  //}
  .gradient{
    max-height: 120px;
    justify-self: flex-end;
    background-image: linear-gradient(to right, #002c56 35%, rgba(0, 0, 0, 0))
  }

  .contentBlock {
    padding: 5px 25px;

    .Title{
      color: white;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 5px;
      text-shadow: 1px 1px 2px #002c56;
    }
    .Text{
      color: white;
    }
  }

  .collage {
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
  .footer{
    margin: 10px;
    background-color: #002c56;
    width: 100px;
    padding: 4px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    label{
      margin-left: auto;
      margin-right: auto;
      color: white
    }
  }
  .tag{
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    width: max-content;
    align-self: flex-end;
  }
  .post_info{
    display: flex;
    flex-direction: row;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    width: max-content;
    align-self: flex-end;
    padding: 5px;
    border-radius: 10px;
    background-color: #002c56;
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;


    img{
      height: 20px;
    }
    h1{
      margin-left: 5px;
      margin-right: 5px;
      color: white;
      position: relative;
      top: 3px;
    }
  }
}

