:root {
  --bg-color: #f3f3f3;
  --navbar-bg-color: #0b3959;

  // Цвет для текста и всего остального
  --primary-color: #ffffff;
  // Цвет для кнопок, ссылок и т.д.
  --secondary-color: #fdfd00;

  --button-bg-color: #0b3959;
  --button-bg-color_hover: #0f4e7e;

  //@media (min-width: 1000px) {
  //  --navbar-bg-color: #adcbe3;
  //
  //}
}