.app.light {
  --bg-color: #ffffff;
  --navbar-bg-color: #0b3959;

  // Цвет для текста и всего остального
  --primary-color: #ffffff;
  // Цвет для кнопок, ссылок и т.д.
  --secondary-color: #fdfd00;
}