.MainLayout {
  min-height: 100vh;
  // test
  //max-height: 100vh;
  //overflow: hidden;
  display: grid;
  @media (min-width: 1440px) {
    grid-template-areas:
              'sidebar header header'
              'sidebar content rightbar';
    grid-template-columns: 60px 1fr 0;
    grid-template-rows: 0 1fr;
  }
  
  @media (max-width: 1440px) {
    grid-template-areas:
              'sidebar header header'
              'sidebar content rightbar';
    grid-template-columns: 60px 1fr 0;
    grid-template-rows: 64px 1fr;
  }
}

.white_background {
  background-color:white;
}


.sidebar {
  grid-area: sidebar;
  display: flex;
}

.content {
  grid-area: content;
  //max-width: 1440px;
  width: 100%;
  justify-self: center;
  //padding: 0 32px;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.header {
  grid-area: header;
}

.rightbar {
  grid-area: rightbar;
}