.PageLoader {
  width: 100%;
  height: calc(100vh - var(--navbar-height));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  font-size: 60px;
  padding-bottom: 50px;
}