.ModalProperties {
    //max-width: 900px;
    min-width: 700px;
}
.EditPostModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    .Input {
        margin-bottom: 7px;
        width: 500px;
    }
    .renderedInput {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tags{
        display: flex;
        flex-direction: column;
        align-items: center;
        .tag{
            display: flex;
            align-items: center;
            width: 500px;
            margin-bottom: 7px;
            .tagName{
                margin-left: 5px;
            }
        }
    }
    .btn{
        width: 200px;
        margin-bottom: 7px;
    }
}