.Navbar {
  position: relative;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 100%;

  //background-color: var(--navbar-bg-color);
}

.profileTab {
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: 100px;
  height: var(--navbar-height);
  padding: 0 10px;
  background-color: var(--navbar-bg-color);
  border-radius: 0 0 0 10px;

  position: fixed;
  top: 0;

  .button {
    height: 100%;
    width: 100%;
    min-width: unset;
    min-height: unset;
    padding: 0;
    margin: 0 auto;
  }

}

.Profile{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

li{
  display: inline-block;
  position: relative;
}

.CartImg{
  height: 40px;
  margin-left: 5px;
}

.CartQuantityImg{
  height: 20px;
  position: absolute;
  top: 28px;
  left: 27px
}
.Quantity{
  position: absolute;

  font-size: 13px;
  color: white;
  text-align: justify;
}

.largeQuantity{
  top: 31px;
  right: 1px;
}

.smallQuantity{
  top: 31px;
  right: 4px;
}


.spinner {
  margin: 0 auto;
}