.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 0 10px;

  div {
    display: flex;
    align-items: center;
  }


  background-color: var(--navbar-bg-color);
}

.logo {
  margin-right: 20px;
  img {
    height: var(--navbar-height);
    width: auto;
  }
}

.links {
  display: flex;
  gap: 40px;
}

.Link {
  color: #ffffff;
  text-decoration: none;
  align-items: center;
  align-content: center;
}
.Link:hover {
  color: var(--link-hover-color); /* Цвет ссылки при наведении на нее курсора мыши */
}

.Modal:hover {
  color: var(--link-hover-color);
}

.full_name {
  position: relative;
  font-size: 18px;
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
  top: -10px;

}
.full_name:hover {
  color: var(--link-hover-color);
}

.Profile{
  max-height: 30px;
}