.GiveAwayMenu {
  width: 900px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  .DropdownContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin-right: 100px;
    .Title {
      color: #141515;
      text-shadow: 0 0 1px #141515;
    }
  }
}

