@keyframes openCollapsible {
  0%{
    transform: translateY(-52px);
    opacity: 0;
    height: 0;
    visibility: hidden;
  }
  100%{
    transform: translateY(0px);
    opacity: 100%;
    height: max-content;
    visibility: visible;
  }
}
@keyframes closeCollapsible {
  0%{
    transform: translateY(0px);
    opacity: 100%;
    height: max-content;
    visibility: visible;

  }
  100%{
    transform: translateY(-52px);
    opacity: 0;
    height: 0;
    visibility: hidden;
  }
}

.Collapsible{
  min-width: 100%;
  z-index: 0;


  .content{
    border-bottom: 1px solid var(--collapsible-header-color);
    border-right: 1px solid var(--collapsible-header-color);
    border-left: 1px solid var(--collapsible-header-color);
  }
  .open{
    animation: openCollapsible .2s linear;
  }
  .close{
    animation: closeCollapsible .2s linear;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  .clicked{
    display: block;
  }
  .nonClicked{
    display: none;
  }
}

.content:hover{
  bottom: 0;
}